# Binaries, Intermediate, Saved 폴더
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
*.sln
*.sdf
*.opensdf
*.VC.db
.vs/
*.suo
*.user

# Rider
.idea/
*.sln.iml

# backup
*.backup
*~

# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace

# Windows
*.pdb

# Mac
.DS_Store